# Python virtual environments and caches
__pycache__/
*.pyc
.venv/

# IDE settings
.vscode/
.ipynb_checkpoints/

# Environment files
.env

# Project specific ignores
notes.txt

/related_work
/model_results
/notebook
/.github/prompts

# Large weights and data
/model/Morai based/weights
/model/Morai based/weights.zip
/results_v2