.env
.vscode
.git
/__pycache__
.venv
notes.txt
/output
__pycache__/
*.pyc
.env
.venv/
.vscode/
.ipynb_checkpoints/
/related_work
/docs
/model_results
/notebook
/.github/prompts

/Morai based/weights
/Morai based/weights.zip